<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.roman.wellnesscoach" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/vaporsana_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/VaporsanaTheme" >
        <activity
            android:name="com.wellnesscoach.Authentifizierung.Login"
            android:label="@string/app_name"
            android:theme="@style/VaporsanaTheme"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.wellnesscoach.Authentifizierung.Register"
            android:label="@string/app_name"
            android:theme="@style/VaporsanaTheme"
            >
        </activity>
        <activity android:name="com.wellnesscoach.Authentifizierung.MainWindow"
            android:label="@string/app_name"
            android:theme="@style/VaporsanaTheme" >
        </activity>
        <activity android:name="com.wellnesscoach.Equipment.Equipment_Overview"
            android:theme="@style/VaporsanaTheme"
            android:label="@string/app_name"
            >
        </activity>
        <activity android:name="com.wellnesscoach.Equipment.Equipment_AddElement"
            android:theme="@style/VaporsanaTheme"
            android:label="@string/app_name"
            >
        </activity>
        <activity android:name="com.wellnesscoach.Kurvorschlag.RequestTreatment"
            android:theme="@style/VaporsanaTheme"
            android:label="@string/app_name"
            >
        </activity>
        <activity android:name="com.wellnesscoach.Kurvorschlag.ProposeTreatment"
            android:theme="@style/VaporsanaTheme"
            android:label="@string/app_name"
            >
        </activity>
        <activity android:name="com.wellnesscoach.Voting.Voting"
            android:theme="@style/VaporsanaTheme"
            android:label="@string/app_name"
            >
        </activity>
    </application>

</manifest>
